*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 55% auto;
    gap: 1px;
    position: relative;
    overflow: hidden;
    background-color: rgba(204, 202, 202, 0.842);
}
/* ----------side-nav1-------- */
.sidenav{
    background-color: rgb(254, 255, 255);
    /* border-radius: 5px; */
    box-shadow: 2px 1px 10px rgba(54, 53, 53, 0.288);
}
.sidenav .header{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 50px;
}
.header img{
    width: 50%;

}
.lists{
    margin: 8px 0;
    display: flex;
    flex-direction: column;
}
.lists a{
    text-decoration: none;
    padding: 15px 30px;
    color: black;
    transition: all 300ms ease;
    font-size: 20px;
}
.lists a:hover{
    background-color: rgba(116, 139, 136, 0.63);
}
.lists .active{
    padding: 15px 30px;
    background-color: rgba(116, 139, 136, 0.63);
    color: black;
    margin: 2px;
    font-size: 20px;
    border-right: 6px solid green;
}
/* ----------Main contect-------- */
.content{
    background-color: rgb(255, 255, 255);
}
.first-content{
    margin: 25px 20px ;
}
.second-content{
    /* border: 1px solid blue; */
    padding: 30px 30px;
    border-radius: 20px;
    margin: 10px 25px;
    box-shadow: 2px 0 5px rgb(56, 52, 52);
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}
.notes h3{
    font-size: 14px;
    font-weight: 500;
}
.notes h1{
    font-size: 50px;
}
.button{
    padding: 20px;
}
.button button{
    padding: 10px 20px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border-radius: 20px;
    background-color: rgb(6, 253, 59);
    cursor: pointer;
    box-shadow:  inset 2px 0 5px #222e33a2, 0 5px 5px #222e33a2,0 0 9px #222e33a2;
}
.popup{
    width: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 50%;
    border-radius: 8px;
    background: rgba(188, 229, 236, 0.849);
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 26px 40px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.popup .img{
    width: 100px;
    margin-top: -50px;
    margin-left: 120px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(44, 40, 40, 0.2)
}
.open-popup{
    top: 50%;
    visibility: visible;
    transform: translate(-50%,-50%) scale(1.0);
}
.popup h2{
    font-size: 30px;
    margin: 10px 0 4px;
}
.popup button{
    padding: 10px 0;
    width: 100%;
    margin-top: 30px;
    background: rgb(204, 13, 13);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
}
.popup h6{
    font-size: 17px;
    font-weight: 600;
}
.fa-solid{
    font-size: 30px;
    display: none;
}
/* .button button span{
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    margin-left: 0px;
    margin-top: 20px;

} */
.third-content{
    margin: 10px 8px;
}
.third-content h1{
    padding: 27px 8px;
}
.table table{
    width: 100%;
    border-collapse: collapse;
}
.table table td,th{
    background-color: rgb(179, 182, 180);
    padding: 21px 20px;
    border-bottom: 3px solid rgb(218, 218, 209);
    text-align: left;
}
.table table th{
    background-color: rgb(222, 228, 222);
}
.table-cont table{
    width: 100%;
    border-collapse: collapse;
    visibility: hidden;
    display: none;
}
table td span{
    color: green;
}
.green{
    color: green;
}
.table-cont table td,th{
    background-color: rgb(179, 182, 180);
    padding: 21px 20px;
    border-bottom: 3px solid rgb(218, 218, 209);
    text-align: left;
}
.table-cont table th{
    background-color: rgb(88, 165, 88);
}

.button-table{
    padding: 20px;
    visibility: hidden;
}
.button-table button{
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    outline: none;
    background-color: rgb(47, 130, 155);
    color: #fff;
    font-size: 15px;
    transition: 0.5s;
}
.button-table button:hover{
    background-color: rgb(120, 161, 214);
    color: black;
    font-weight: 600;
}
/* ----------side-nav2-------- */
.sidenav-2{
    background-color: rgb(225, 238, 238);
}
.images-settings{
    text-align: right;
    cursor: pointer;
}
.images-settings img{
    padding: 0px;
    margin-right: 10px;
    margin-top: 5px;
}
.search-box form input{
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
    outline:  none;
}
.progress-bar{
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 9rem;
    margin: 1.3rem 4.3rem ;
    border: 1.3rem solid black;
    box-shadow: inset 0 0 9px grey,  0px 0px 9px grey, 0px 0px 9px grey;
    border-left-color: rgb(9, 255, 0);
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(9, 255, 0);
    border-bottom-color: rgb(9, 255, 0);
    text-align: center;
}
.text-progress{
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}
.progress-bar .value{
    /* position: absolute;
    bottom: 0;
    left: 27px;
    top: 35px; */
    padding: 38px 20px;
    font-weight: 600;
    font-size: 40px;
}
.progress-notes h1{
    margin: 15px 20px;
    font-size: 25px;
}
.list-head .list{
    margin: 7px 7px;
}
.list{
    display: flex;
    justify-content: space-between;
    border: 0;
    /* margin: 5px 5px; */
    border-radius: 10px;
    background-color: aliceblue;
    padding: 10px 10px;
}
.list .head p{
    font-size: 13px;
}
.list img{
    margin-top: 10px;
}
.red{
    color: red;
}
/* ----------All medis queries codes-------- */
@media screen and (max-width:1090px) {
    .container{
        /* width: 100%; */
        /* background-color: yellow; */
        display: grid;
        overflow: visible;
        column-gap: 3px;
        grid-template-columns: 23% auto 27%;
    }
    /* .table .table-cont{
        visibility: hidden;
     } */
    
    /* ----------side-nav1-------- */
    .sidenav .header{
        margin: 0px -60px 20px 10px;
    }
    .header img{
        width: 60%;
    }
    .lists a{
        font-size: 18px;
        margin-top: 20px;
    }
    /* ----------Main contect-------- */
    .first-content h1 span{
        font-size: 25px;
    }
    .first-content{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .second-content{
        padding: 20px 20px;
        margin: 10px 10px;
    }
    .notes img{
        width: 35px;
    }
    .notes h1{
        font-size: 30px;
        margin: 3px 2px;
    }
    .button{
        padding: 14px 0px;
    }
    .third-content{
        margin: 0px 2px;
    }
    .third-content .hide{
        visibility: hidden;
    }
    .third-content h1{
        padding: 34px 10px;
    }
    .table table td,th{
        padding: 22px 10px;
    }
    /* ----------side-nav2-------- */
    .sidenav-2{
        padding-right: 7px;
    }
    .search-box form input{
        margin: 10px 8px;
    }   
    .progress-bar{
        margin: 1rem 2.2rem;
    }
    .text-progress h1{
        font-size: 20px;
    }
    .list-head .list{
        margin: 7px 4px;
    }
    .list{
        padding: 8px 5px;
        border-radius: 5px;
    }
    .table-cont{
        display: none;
    }
}
@media screen and (max-width:900px) {
    .container{
        /* background-color: red; */
        display: grid;
        grid-template-columns: 17% auto 28%;
    }
    /* ------sidenav1--------- */
    .sidenav .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -20px;
    }
    .header h1{
        font-size: 16px;
    }
    .hide{
        visibility: visible;
    
    }
    .lists a,.lists .active{
        font-size: 15px;
        font-weight: 600;
        padding: 15px 3px;
        margin: 10px 0px;
    }

    /* .lists .active{
        font-size: 15px;
    } */
    .third-content table .hide{
        visibility: visible;
    }

}
@media screen and (max-width:944px){
    /* .container{
        background-color: blue;
    } */
/* ------sidenav1--------- */
    .sidenav .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -20px;
    }
    .header h1{
        font-size: 15px;
    }
}
@media screen and (max-width:880px){
    .container{
        background-color: rgb(5, 250, 5);
        display: grid;
        column-gap: 1px;
        grid-template-columns: 25% auto;
        overflow: auto;
    }
    /* ------sidenav1--------- */
    .sidenav{
        border-radius: 0;
    }
    .sidenav .header{
        margin-right: -40px;
    }
    .header img{
        width: 65%;
    }
    .lists{
        margin: 1px 2px;
    }
    .lists a, .lists .active{
        padding: 13px;
    }
    /*main content-----*/
    .second-content{
        padding: 40px 40px;
    }
    .notes h3{
        font-size: 20px;
        font-weight: 500;
    }
    .notes h1{
        font-size: 50px;
    }
    .notes h1 img{
        width: 12%;
    }
    /*------sidena2--------- */
    .sidenav-2{
        display: none;
    }
    /* .button-table{
        padding: 20px;
        visibility: visible;
    } */
    /* .table-cont table{
        width: 100%;
        border-collapse: collapse;
        visibility: visible;
        display: table;
    } */

}
@media screen and (max-width:750px){
    /* .container{
        background-color: rgb(146, 15, 15);
    } */
    .lists{
        margin: 1px 2px;
    }
    .lists a, .lists .active{
        padding: 9px;
    }
    .notes h1{
        font-size: 37px;
    }
    .table table{
        width: 100%;
        border-collapse: collapse;
        visibility: visible;
        display: table;
    }
    .table table td,th{
        background-color: rgb(179, 182, 180);
        padding: 10px 19px;
        border-bottom: 3px solid rgb(218, 218, 209);
        text-align: left;
    }
    .table table th{
        background-color: rgb(163, 168, 167);
    }
    /* .table-cont table{
        width: 100%;
        border-collapse: collapse;
        display: block;
    } */
}
@media screen and (max-width:670px){
    .container{
        display: grid;
        grid-template-columns:  auto ;
        overflow-x: hidden;
    }
    .sidenav {
        position: absolute;
        background: rgb(255, 255, 255);
        display: block;
        min-height: 60vh;
        width: 200px;
        top: 0;
        right: -210px;
        text-align: left;
        z-index: 2;
        padding-top: 30px;
        transition: 1s;
    }
    .sidenav .header{
        margin-top: -10px;
    }
    .sidenav .header img{
        width: 50%;
    }
    .sidenav .lists{
        margin-top: -10px;
    }
    .sidenav .lists a{
        font-size: 18px;
        font-weight: 500;
    }
    .first-content h1 span{
        font-size: 20px;
    }
    .first-content h1{
        font-size: 25px;
    }
/* --------side nav 1--------- */
   .first-content{
        display: flex;
        justify-content: space-between;
    } 
    .table-cont table{
        width: 100%;
        border-collapse: collapse;
        display: block;
    }
    .sidenav .fa-xmark{
        padding-left: 5px;
        border: 4px solid black;
        width: 40px;
        margin-left: 4px;
    }
    .fa-solid{
        display: block;
        cursor: pointer;
    }
}
@media screen and (max-width:530px){ 
    .sidenav {
        position: absolute;
        background: rgb(255, 255, 255);
        display: block;
        min-height: 100vh;
        width: 200px;
        top: 0;
        right: -210px;
        text-align: left;
        z-index: 2;
        padding-top: 30px; 
        transition: 1s;
    }
    .sidenav .header{
        margin-top: -10px;
    }
    .sidenav .header img{
        width: 50%;
    }
    .sidenav .lists{
        margin-top: -10px;
    }
    .sidenav .lists a{
        font-size: 18px;
        font-weight: 500;
    }
    .second-content{
        padding: 30px 30px;
    }
    .notes h3{
        font-size: 15px;
        font-weight: 500;
    }
    .notes h1{
        font-size: 40px;
    }
    .notes h1 img{
        width: 12%;
    }
/* --------side nav 1--------- */
   .first-content{
        display: flex;
        justify-content: space-between;
    } 
    .table-cont table{
        width: 100%;
        border-collapse: collapse;
        display: block;
    }
    .sidenav .fa-xmark{
        padding-left: 5px;
        border: 4px solid black;
        width: 40px;
        margin-left: 4px;
    }
    .fa-solid{
        display: block;
        cursor: pointer;
    }
}
