*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppin" , sans-serif;
    
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(219, 218, 218, 0.671);
    
}
.header{
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 17, 250);
}
.form-in{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form-in  h1{
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
}
.form-in form label{
    font-size: 20px;
    font-weight: 600;
}
.form-in form input{
    background: none;
    border: 0;
    border-bottom: 2px solid rgb(80, 76, 76);
    margin-left: 10px;
    outline: none;
}

.form-in form  button{
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    margin: 20px 0;
    font-weight: 600;
    border-radius: 30px;
    border: 0;
    outline: none;
    color: rgb(253, 253, 253); 
    background-color: rgb(1, 39, 252);
    cursor: pointer;
    transition: 2s all ease;
}
.fa{
    font-size: 25px;
}
 
.form-in form button:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}
@media screen and (max-width: 700px) {
    .header img{
        width: 50%;
    }
}