*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background-color: rgb(218, 218, 209);
}
.third-content{
    padding: 10px 8px;
}
.third-content h1{
    padding-bottom: 30px;
    text-align: center;
}
.table table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
}
.table table td,th{
    background-color: rgb(179, 182, 180);
    padding: 20px;
    border-bottom: 3px solid rgb(218, 218, 209);
    text-align: left;
}
.table table th{
    background-color: rgb(222, 228, 222);
}
table tr td span{
    color: green;
    font-weight: 600;
}
.green{
    color: green;
    font-weight: 600;
}
.red{
    color: red;
    font-weight: 600;
}
.btn{
    padding: 10px 20px;
}
.btn a{
    text-decoration: none;
}
.btn a button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    outline: none;
    background: green;
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
}